@import "../variables/variables";

.details-container {
  display: flex;
  padding-inline: 6rem;
  width: 100%;
  flex-direction: column;

    @media only screen and (max-width: $mobile-width) {
    padding-inline: 1rem;
  }

  .title-container {
    .title {
      font-size: 48px;
      margin-block: 35px;

        @media only screen and (max-width: $mobile-width) {
        font-size: 24px;
      }

      span {
        color: #ff0101;
      }
    }
    .subtitle {
      font-weight: 100;
    }
  }

  .charts-container {
    display: flex;
    flex-direction: row;
    gap: 60px;

      @media only screen and (max-width: $mobile-width) {
      flex-direction: column;
      gap: 30px;
    }

    .container {
      display: flex;
      flex: 2;
      flex-direction: column;
      gap: 20px;

      .second-section {
        display: flex;
        gap: 20px;

          @media only screen and (max-width: $mobile-width) {
          flex-direction: column;
        }

        div {
          display: flex;
          flex: 1;
          height: 100%;
        }
      }
    }

    .aside {
      display: flex;
      flex: 1;
    }
  }
}
